/AIInterface/bin/Debug
/AIInterface/obj/Debug
/BattleShip/bin/Debug
/*.suo
/BattleShip/obj/Debug
/KongRobot
/SimpleBot/bin/Debug
/SimpleBot/obj/Debug
/BotterNet/bin/Release
/BotterNet/obj/Debug
/BotterNet/obj/Release
/BattleServer/bin/Debug
/BattleServer/obj/Debug
/DefaultBot/bin/Debug
/DefaultBot/obj/Debug
