/AIInterface/bin/Debug
/AIInterface/obj/Debug
/BattleShip/bin/Debug
/*.suo
/BattleShip/obj/Debug
/KongRobot
/SimpleBot/bin/Debug
/SimpleBot/obj/Debug
/BotterNet/bin/Release
/BotterNet/obj/Debug
/BotterNet/obj/Release
/BattleServer/bin/Debug
/BattleServer/obj/Debug
/DefaultBot/bin/Debug
/DefaultBot/obj/Debug
/bin/Debug
/DefaultBot/obj/Release
/AIInterface/bin/Release
/AIInterface/obj/Release
/BattleServer/bin/Release
/BattleServer/obj/Release
/BattleShip/obj/Release
/DefaultBot/bin/Release
/BattleShip/bin/Release
/SimpleBot/obj/Release
